AuthType Basic
AuthName "CoFixer Deck - Restricted Access"
AuthUserFile /usr/local/apache2/htdocs/.htpasswd

SetEnvIf Request_URI "^/health\.html$" noauth

<RequireAny>
    Require env noauth
    Require valid-user
</RequireAny>
